.subscribe-section {
  background: linear-gradient(
    90deg,
    rgba(21, 14, 10, 1) 60%,
    rgba(10, 10, 10, 1) 80%
  );
  border-bottom: #7a797838 1px solid;
}
.subscribe-container {
  background-color: #111111;
  border-radius: 40px;
  width: 100%;
  max-width: 900px;
  border: 1px solid rgba(255, 255, 255, 0.05);
  box-shadow: 0 40px 100px rgba(0, 0, 0, 0.4);
}
.z-index-1 {
  position: relative;
  z-index: 1;
}
.text-orange {
  color: #ed5e0e;
}
.icon-box-envelope {
  width: 65px;
  height: 65px;
  background-color: #ed5e0e;
  border-radius: 18px;
  color: white;
  font-size: 1.8rem;
}
.section-title {
  font-size: 2.7rem;
  letter-spacing: -1px;
}
.subscribe-form {
  max-width: 600px;
}
.email-input {
  background-color: #0a0a0a !important;
  border: 1px solid rgba(255, 255, 255, 0.1) !important;
  border-radius: 15px !important;
  padding: 15px 25px !important;
  color: white !important;
  transition: all 0.3s ease !important;
}
.email-input:focus {
  border-color: #ed5e0e !important;
  background-color: rgba(255, 255, 255, 0.05) !important;
  box-shadow: none !important;
}
.btn-orange {
  background-color: #ed5e0e;
  border-radius: 15px;
  color: white;
  padding: 15px 20px;
  transition: all 0.3s ease;
  border: none;
  width: 150px;
}
.btn-orange:hover {
  background-color: #ff7c30;
  transform: translateY(-2px);
  box-shadow: 0 10px 20px rgba(237, 94, 14, 0.2);
  color: white;
}
.extra-small {
  font-size: 0.85rem;
}
.avatars-stack img {
  width: 30px;
  height: 30px;
  object-fit: cover;
  margin-left: -10px;
  transition: transform 0.3s ease;
}
.avatars-stack img:first-child {
  margin-left: 0;
}
.avatars-stack img:hover {
  transform: translateY(-5px);
  z-index: 10;
}
.separator {
  color: #333;
}
@media (max-width: 768px) {
  .section-title {
    font-size: 2rem;
  }
  .subscribe-form {
    flex-direction: column;
  }
  .subscribe-container {
    border-radius: 30px;
    padding: 40px 25px !important;
  }
  .btn-orange {
    width: 120px;
    margin: auto;
  }
}
