.mainHome {
  border-bottom: #7a797838 1px solid;
}
.mainHome .bg-grid {
  background:
    radial-gradient(
      circle at 20% 30%,
      rgba(255, 140, 0, 0.15),
      transparent 15%
    ),
    radial-gradient(
      circle at 80% 70%,
      rgba(255, 140, 0, 0.12),
      transparent 15%
    ),
    linear-gradient(rgba(255, 255, 255, 0.05) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255, 255, 255, 0.05) 1px, transparent 1px),
    #0b0b0b;
  background-size:
    auto,
    auto,
    60px 60px,
    60px 60px,
    auto;
}
.mainHome .content {
  margin-top: 5%;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}
.mainHome .bg-grid .content .badge {
  font-size: 0.7rem;
  color: #a1a199;
  letter-spacing: 1px;
  background-color: #25160b;
  padding: 10px 25px;
  border: #65330e 1px solid;
}
.mainHome .bg-grid .content .badge i {
  font-size: 0.4rem;
  color: #ed5e0e !important;
}
.mainHome .bg-grid h1 {
  font-size: clamp(2.5rem, 8vw, 5rem);
  font-weight: 800;
  margin-bottom: 10px;
  line-height: 1.2;
}
.mainHome .bg-grid h1 span {
  color: #ed5e0e;
}
.mainHome .bg-grid p {
  margin-top: 2%;
  font-size: clamp(1rem, 2.5vw, 1.2rem);
  color: #a1a199;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  letter-spacing: 1px;
}
.mainHome .buttons {
  color: white;
}
.mainHome .buttons .disButton,
.mainHome .buttons .moreButton {
  padding: 15px 20px;
}
.mainHome .buttons .disButton {
  background-color: #ed5e0e;
  transition: all 0.3s;
}
.mainHome .buttons .moreButton {
  background-color: transparent;
  border: #666362 1px solid;
  transition: all 0.3s;
}
.mainHome .buttons .moreButton:hover {
  background-color: #ffffff15;
  color: #ed5e0e !important;
  border: #ed5e0e 1px solid;
}
.mainHome .buttons .disButton:hover {
  transform: translateY(-5px);
}
.mainHome .cards {
  background-color: #141414e3;
  color: #ff6900;
  padding: 15px;
  border: #afa9a92c 1px solid;
}
.mainHome .cards h3,
.mainHome .cards p,
.mainHome .cards .icon {
  font-size: 1.3rem;
}
.mainHome .cards p {
  color: gray;
}
@media (max-width: 768px) {
  .mainHome .content {
    margin-top: 20%;
  }
}
@media (max-width: 576px) {
  .mainHome .content {
    margin-top: 30%;
  }
  .mainHome .buttons .btn {
    width: 100%;
    margin-bottom: 0px;
  }
}
